<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Montana</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="static/css/flaticon.css">
    <link rel="stylesheet" href="static/css/gijgo.css">
    <link rel="stylesheet" href="static/css/animate.css">
    <link rel="stylesheet" href="static/css/slicknav.css">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<style>
</style>

<body>
<header>
    <div class="header-area" style="background-color: black">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-6">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation" onclick="toggleActive()">
                                    <li><a class="navigation-item active" href="index.html">Home</a></li>
                                    {% if current_user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link text-info" href="/"> <img src="{{current_user.avatar}}"
                                                                                     width="25" class="rounded"/> Chào
                                            {{ current_user.username }}!</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-info" href="/logout">Đăng xuất</a>
                                    </li>
                                    {% else %}
                                    <li><a class="navigation-item" href="login.html">Đăng Nhập</a></li>
                                    <li><a class="navigation-item" href="register.html">Đăng Ký</a></li>
                                    {% endif %}
                                    <!--<li><a href="#">blog <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="blog.html">blog</a></li>
                                            <li><a href="single-blog.html">single-blog</a></li>
                                        </ul>
                                    </li>-->
                                    <!--<li><a href="#">pages <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="elements.html">elements</a></li>
                                        </ul>
                                    </li>-->
                                    <li><a class="navigation-item" href="contact.html">Liên Hệ</a></li>
                                    <li><a class="navigation-item" href="ticket.html">Bán Vé</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img" style="color: red;">
                            <a href="index.html">
<!--                                <img src="static/img/logo.png" alt="">-->
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                        <div class="book_room">
                            <div class="social_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/profile.php?id=100011194369764">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/profile.php?id=100011194369764">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/profile.php?id=100011194369764">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--                            <div class="book_btn d-none d-lg-block">-->
                            <!--                                <a class="popup-with-form" href="#test-form">Book A Ticket</a>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid p-0">
    <div class="slider_area">
        <div class="form">
            <div class="slider-form d-flex align-items-center justify-content-center"
                 style="background-image: url(static/img/banner/bannerlogin.webp)">
                <div class="container-fluid mt-5 pt-5">
                    <h3 class="text-light">Vé phù hợp</h3>
                    <table class="table table-hover text-light table-group-divider">
                        <thead class="table-dark">
                        <tr style="text_">
                            <th scope="col">Mã</th>
                            <th scope="col">Nơi khởi hành</th>
                            <th scope="col">Nơi đến</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in ds %}
                        <tr>
                            <th scope="row">{{ i.id }}</th>
                            <th>{{ i.departure_airport }}</th>
                            <th >{{ i.arrival_airport }}</th>

                            <th scope="col" class="center-vertically">
                                <li class="btn btn-light rounded-pills" value="{{ i.id }}">Đặt vé</li>
                            </th>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            address
                        </h3>
                        <p class="footer_text"> 200, Green road, Mongla, <br>
                            New Yor City USA</p>
                        <a href="#" class="line-button">Get Direction</a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Reservation
                        </h3>
                        <p class="footer_text">+10 367 267 2678 <br>
                            reservation@montana.com</p>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Navigation
                        </h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Rooms</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">News</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Newsletter
                        </h3>
                        <form action="#" class="newsletter_form">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit">Sign Up</button>
                        </form>
                        <p class="newsletter_text">Subscribe newsletter to get updates</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-8 col-md-7 col-lg-9">
                    <p class="copy_right">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
                <div class="col-xl-4 col-md-5 col-lg-3">
                    <div class="social_links">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100011194369764">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100011194369764">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100011194369764">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>