<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Montana</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="static/css/flaticon.css">
    <link rel="stylesheet" href="static/css/gijgo.css">
    <link rel="stylesheet" href="static/css/animate.css">
    <link rel="stylesheet" href="static/css/slicknav.css">
    <link rel="stylesheet" href="static/css/style.css">
    <!--     <link rel="stylesheet" href="static/css/responsive.css">-->
</head>

<body>
<header>
    <div class="header-area">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-6">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation" onclick="toggleActive()">
                                    <li><a class="navigation-item active" href="index">Home</a></li>
                                    {% if current_user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link text-info" href="/"> <img src="{{current_user.avatar}}"
                                                                                     width="25" class="rounded"/> Chào
                                            {{ current_user.username }}!</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-info" href="/logout">Đăng xuất</a>
                                    </li>
                                    {% else %}
                                    <li><a class="navigation-item" href="login">Đăng Nhập</a></li>
                                    <li><a class="navigation-item" href="register">Đăng Ký</a></li>
                                    {% endif %}
                                    <!--<li><a href="#">blog <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="blog.html">blog</a></li>
                                            <li><a href="single-blog.html">single-blog</a></li>
                                        </ul>
                                    </li>-->
                                    <!--<li><a href="#">pages <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="elements.html">elements</a></li>
                                        </ul>
                                    </li>-->
                                    <li><a class="navigation-item" href="contact">Liên Hệ</a></li>
                                    <li><a class="navigation-item" href="ticket">Bán Vé</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img" style="color: red;">
                            <a href="index.html">
<!--                                <img src="static/img/logo.png" alt="">-->
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                        <div class="book_room">
                            <div class="social_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/profile.php?id=100011194369764">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/profile.php?id=100011194369764">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/profile.php?id=100011194369764">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid p-0">
    <div class="slider_area">
        <div class="form">
            <div class="slider-form d-flex align-items-center justify-content-center"
                 style="background-image: url(static/img/banner/bannerlogin.webp)">
                <div class="container mt-5 pt-5">
                    <h1 class="text-light">Lịch Chuyến Bay</h1>
                    <table class="table table-hover text-light table-group-divider">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Ngày, giờ xuất phát</th>
                            <th scope="col">Nơi khởi hành</th>
                            <th scope="col">Nơi đến</th>
                            <th scope="col">Giá chuyến bay</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">###</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in data %}
                        <tr>
                            <th scope="row">{{ i.id }}</th>
                            <td style="min-width: 135px;">{{ i.dateTime }}</td>
                            {# Sử dụng id hoặc một trường khác của đối tượng i #}
                            <td style="min-width: 135px;">{{ i.departure_airport }}</td>
                            {# Truy cập tên của sân bay khởi hành #}
                            <td style="min-width: 135px;">{{ i.arrival_airport }}</td>
                            {# Truy cập tên của sân bay đến #}
                            <td style="min-width: 135px;">{{ "{:,.0f}".format(i.ticket.price) }} VNĐ</td>
                            {% if i.ticket.status == True %}
                            <td style="min-width: 135px;">Còn vé</td>
                            <td style="min-width: 135px;">
                                  <li class="btn btn-light rounded-pills" value="{{ i.id }}"
                                    onclick="addToTicket({{i.id}}, '{{i.departure_airport}}','{{ i.arrival_airport }}',{{i.ticket.price}})">
                                    <a href="detail_passenger">Đặt vé</a>
                                </li>
                            </td>
                            {% else %}
                            <td style="min-width: 135px;">Hết vé</td>
                            <td style="min-width: 135px;">
                                <li class="btn btn-light rounded-pills" value="{{ i.id }}"
                                    onclick="showSoldOut()">
                                    <a href="">Đặt vé</a>
                                </li>
                            </td>

                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="static/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="static/js/vendor/jquery-1.12.4.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/isotope.pkgd.min.js"></script>
<script src="static/js/ajax-form.js"></script>
<script src="static/js/waypoints.min.js"></script>
<script src="static/js/jquery.counterup.min.js"></script>
<script src="static/js/imagesloaded.pkgd.min.js"></script>
<script src="static/js/scrollIt.js"></script>
<script src="static/js/jquery.scrollUp.min.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/nice-select.min.js"></script>
<script src="static/js/jquery.slicknav.min.js"></script>
<script src="static/js/jquery.magnific-popup.min.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/gijgo.min.js"></script>

<!--contact js-->
<script src="static/js/contact.js"></script>
<script src="static/js/jquery.ajaxchimp.min.js"></script>
<script src="static/js/jquery.form.js"></script>
<script src="static/js/jquery.validate.min.js"></script>
<script src="static/js/mail-script.js"></script>

<script src="static/js/main.js"></script>
<script>
    $('#datepicker').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
         rightIcon: '<span class="fa fa-caret-down"></span>'
     }
    });
    $('#datepicker2').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
         rightIcon: '<span class="fa fa-caret-down"></span>'
     }

    });
</script>

<script>
    function showSoldOut() {
        alert('Xin lỗi, vé đã hết chỗ!!')
    }
</script>

</body>
